#register{
        background-image: linear-gradient( to right, #ff0035, #3d19ea );
}

a.link{
    text-decoration: none;
}
.app-btn{
    background-image: linear-gradient( to right, #3d19ea, #ff0035 );
    color:#fff;
    background-color: #ff0035;
}

.app-btn:hover{
    background-image: linear-gradient( to right, #ff0035, #3d19ea );
    color:#fff;
}

/* Custom colors */
:root {
    --color-primary: #20a4f3;
    --color-secondary: #ff0035;
    --color-tertiary: #fff4e4;
    --color-white: #ffff;
  }

  input,button,#user-account-type{
    max-width: 1500px;
}
  